.box div > .aaa {
  color: #333333;
}
.box div > .aaa .box2 {
  display: inline;
  position: absolute;
}
.box div > .aaa .box3 {
  color: #000;
}
.aaaaa {
  color: #000;
}
.red {
  color: #000;
}
body {
  color: #000;
}
ul {
  background-color: #000000;
  border: 1px solid #000000;
  color: #000000;
}
div {
  background-color: #0094ff;
  border: 1px solid #0094ff;
  color: #0094ff;
}
